<%#
@all_users contains an Array of User objects. Remember that a User object
contains mirrored info from one row in the "users" database table.
The benefit of storing the info from each row in an object is that we can
write methods for the object's class (User). For example, below we wrote
a `party_time` method that uses the 'age' attribute to see if someone can
drink [alcohol] or not.
%>
	<% @all_users.each do |u| %>
<%#
So here, `u` is a User object (meaning it's an *instance* of the
User class). So we can run *instance* methods on `u`.
%>
<p>
	<%= u.name %> - <%= u.age %>
	<% if u.can_drink_alcohol? %>
	(Party Time)
	<% else %>
	(Sober Party Time)
	<% end %>
</p>

<% end %>
