<h1>Add stock</h1>

<p>Enter stock below if you like.</p>

<form action="/save_stock" method="post">
	<p>
		Comapny: <input type="text" name="company">
	</p>
	
	<p>
		Symbol: <input type="text" name="symbol">
	</p>
	
	<p>
		Price Per Share: <input type="text" name="price_per_share">
	</p>
	
	<p>
		Currency: <input type="text" name="currency">
	</p>
	
	<p>
		Quantity: <input type="text" name="quantity">
	</p>
	
	<input type="submit">

</form>	

