<style>
h1 {
	font-family: Verdana;
	color:  #FFCC33;
	text-align: left;
}

img {
	align: left;
}

body {
	text-align: center;
	background-color: #6699FF;
}
</style>

<body>
	
	<h1><%= @movie.title %></h1>

</body>
