<style>
h2 {
	font-family: Verdana;
	color:  #FFCC33;
	text-align: center;
}

body {
	text-align: center;
	background-color: #6699FF;
}
</style>

<body>

	<h2> Here are your results </h2>



	<% @results.each do |n| %>
		<img src="http://image.tmdb.org/t/p/w154/<%= n.poster_path %>" >
	<% end %>

</body>
