<style>
h2 {
	font-family: Verdana;
	color:  #FFCC33;
	text-align: center;
}

body {
	text-align: center;
	background-color: #6699FF;
}
</style>

<h2>Here are your results</h2>

<body>

	<% @search %>

</body>